<!doctype html>
<html lang="{{ site.lang | default: " ja" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="color-scheme" content="light dark" />
  <!-- IE互換性のためのおまじない -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
  <link rel="stylesheet" href="./statics/style.css">
  <script
    type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[['\$','\$'],['\\(','\\)']],processEscapes:true},CommonHTML: {matchFontHeight:false}});</script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% seo %}
</head>
<body>
  <div class="wrapper">
      {{ content }}
  </div>
  <ul class="footer-nav">
    <li><a href="javascript:void(0);" onclick="return false;" class="modal-open" data-target="confirmBeforeMoveToPageTop"><span class="material-symbols-outlined">keyboard_arrow_up</span></a></li>
    <li><a href="javascript:void(0);" onclick="return false;" class="modal-open" data-target="jump"><span class="material-symbols-outlined">toc</span></a></li>
  </ul>
  <div class="modals"></div>
</body>
</html>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
  $(function(){
    // 「トップに戻る」ボタン警告表示
    var CreateModalDlg_ConfirmBeforeMoveToPageTop = function(){
      if ( 0 >= $('.modal-open[data-target="confirmBeforeMoveToPageTop"]').length ) {
        return false;
      }
      var modalDlgStr = 
          '<div class="modal" data-id="confirmBeforeMoveToPageTop">'
        + '  <div class="modal-overlay modal-close"></div>'
        + '  <div class="modal-content">'
        + '    <p class="modal-close_wrapper">'
        + '      <a href="javascript:void(0);" onclick="return false;" class="modal-close jump-modal-close">閉じる <span class="material-symbols-outlined">close</span></a>'
        + '    <h3><i class="blogicon-warn"></i> 確認</h3>'
        + '      <p>本当にトップに戻りますか？</p>'
        + '      <p class="button-list"><button class="modal-close" onclick="smoothScroll();">はい</button></p>'
        + '    </p>'
        + '  </div>'
        + '</div>';
      $('.modals').append(modalDlgStr);
  
      return true;
    };
  
    // 目次ボタン作成
    var CreateModalDlg_Jump = function(){
      if ( 0 >= $('.modal-open[data-target="jump"]').length ) {
        return false;
      }
      var $tableOfContents = $('#markdown-toc');
      if ( 0 >= $tableOfContents.length ) {
        return false;
      }
      var modalDlgStr =
          '<div class="modal" data-id="jump">'
        + '  <div class="modal-overlay modal-close"></div>'
        + '  <div class="modal-content">'
        + '    <p class="modal-close_wrapper">'
        + '      <a href="javascript:void(0);" onclick="return false;" class="modal-close jump-modal-close">閉じる <span class="material-symbols-outlined">close</span></a>'
        + '    </p>'
        + '  </div>'
        + '</div>';
      $('.modals').append(modalDlgStr);
      $('.modal[data-id="jump"] > .modal-content').append( $tableOfContents );
      $('.modal[data-id="jump"] > .modal-content a').addClass('modal-close');
    
      return true;
    };
  
    var res1 = CreateModalDlg_ConfirmBeforeMoveToPageTop();
    var res2 = CreateModalDlg_Jump();
    if ( false == res1 && false == res2 ) {
      return;
    }
  
    // モーダル用イベントハンドラの設定
    $('.modal-open').on('click', function(){
      $('.modal[data-id=' + $(this).data('target') + ']').fadeIn();
      return false;
    });
    $('.modal-close').on('click', function(){
      $('.modal').fadeOut();
      return false;
    });
  });
</script>
  
<script>
  // ページ内リンクのスムーズスクロール
  $(function(){
    $('a[href^="#"]').click(function(){
      console.log('hogehoge');
      var adjust = -30;
      var duration = 500;
      var href= $(this).attr('href');
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top + adjust;
      $('html, body').animate({scrollTop:position}, duration, 'swing');
      return false;
    });
  });
</script>
  
<script>
  // 「トップへ戻る」スクロール
  var smoothScroll = function(){
    var duration = 500;
    var position = $('html').offset().top;
    $('html, body').animate({scrollTop:position}, duration, 'swing');
    return false;
  }
</script>
  