:root {
  --color-main-bg: #fff;
  --color-main-text: #333333;
  --color-main-link: #1DA1F2;
  /* --color-sub-bg: #15181C; */
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-main-bg: #202124;
    --color-main-text: #D9D9D9;
    --color-main-link: #1DA1F2;
    --color-sub-bg: #15181C;
  }
}

* {
  color: var(--color-main-text);
  background-color: var(--color-main-bg);
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

a {
  color: var(--color-main-link);
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 800px;
  position: relative;
}

ul {
  padding-inline-start: 2em;
}

/* Google fonts */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* footer navigation */
.footer-nav {
  display: -webkit-flex;
  display: flex;
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 0;
  margin: 0;
  z-index: 999;
}

.footer-nav li {
  text-align: center;
  list-style-type: none;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}
.footer-nav li:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s;
}

.footer-nav li a {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
}
.footer-nav li a,
.footer-nav li a:visited,
.footer-nav li a:hover,
.footer-nav li a:active,
.toTop-nav li a:focus {
  color: #fff;
  text-decoration: none;
}

/* -------- modal -------- */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 999;
}

.modal > .modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,0.8);
}

.modal > .modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  max-width: 80vw;
  max-height: 60vh;
  box-sizing: border-box;
  margin: 0;
  padding: 24px;
  color: #999999;
  background: #fff;
  overflow-y: scroll;
}
@media screen and (max-width: 980px){
  .modal > .modal-content {
    max-width: auto;
    width: 80vW;
  }
}

.modal > .modal-content > .modal-close_wrapper {
  padding: 0;
  margin: 0;
  text-align: right;
}
.modal > .modal-content > .modal-close_wrapper > a.modal-close {
  font-size: 1em;
  color: #999999;
  text-decoration: none;
}
.modal > .modal-content > .modal-close_wrapper > a.modal-close:hover {
  color: #bbbbbb;
  text-decoration: none;
}

.modal > .modal-content > h3 {
  margin-top: 0;
}

.modal > .modal-content p.button-list {
  margin: 2em 0 0 0;
  text-align: center;
}

.modal > .modal-content button {
  padding: 0.3em 2em;
  border: solid 2px #999999;
  color: #999999;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  background-color: #ffffff;
}
.modal > .modal-content > button:hover {
  color: #ffffff;
  transition: color 0.5s;
  background-color: #999999;
  transition: background-color 0.5s;
}

/*
  :root{
    --b1: #181921;
    --b2: #1a2638;
    --b3: #323e52;
    --b4: #323e52;
    --b4: #1a2a2c;
  }
  
  .linkcard {
    border-radius: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .linkcard img{
    width: 8em;
    height: 12em;
    object-fit: cover;
    border-radius: 5em 5em 5em 5em   
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .row a{
    margin: 1em;
  }
  .columun {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  article{
    background-color: #1a2638;
    margin: 1em 0em;
    padding: 1em;
    border-radius: 1em;
  }
  article article {
    margin: 1em -0.5em;
    padding: 1em 0.5em;
    background-color: #323e52;
  }
  
  svg {
    max-width: 660px;
    max-height: 400px;
  }
  
  img{
    max-height: 80vh;
    max-width: 80vw;
  }
  
  section img {
    max-width: 100%;
  }
  
  button {
    background-color: slategrey;
    color: white;
    border-radius: 1em;
    border-width: 0;
  }
  button:hover {
    filter: hue-rotate(20deg) saturate(90%) brightness(90%)
  }
  button.playing {
    filter: hue-rotate(20deg) saturate(200%)
  }
  .mikuButton button {
    background-color: #47848b;
  }
  .musicButton button {
    background-color: #8b4755;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin:0px;
    color: white;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
  }
  
  p, ul, ol, table, pre, dl {
    margin:0 0 20px;
  }
  
  h1, h2, h3 {
    line-height: 2;
  }
  
  h1 { font-size: 2.0rem; }
  
  h2 { font-size: 1.8rem; }
  
  h3 { font-size: 1.5rem; }

  h4 { font-size: 1.2rem; }

  h5 { font-size: 1.1rem; }

  h6 { font-size: 1.0rem; }

  
  a {
    color:#f5abb5;
    font-weight:400;
    text-decoration:none;
  }
  a:hover {
    color: #f69eaa;
    text-decoration: none;
  }
  
  a small {
    font-size:11px;
    color:#666;
    margin-top:-0.6em;
    display:block;
  }
  
  
  ul{
    list-style-image:url('../images/bullet.png');
  }
  
  strong {
    font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: bold;
  }
  
  blockquote {
    border-left:3px solid cadetblue;
    font-style: italic;
    color: #c8dfdf;
    margin:0;
    padding:0 0 0 20px;
    
  }
  
  .codepre:before {
    display: block;
    inset-block-start: 0em;
    inset-inline-start: 0;
    padding-block: .5em;
    padding-inline: 1em;
    inline-size: fit-content;
    background-color: var(--b3);
    color: white;
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    border-radius: .5em .5em 0 0;
  }
  
  .code {
    display: block;
    position: relative;
    padding: 1em 1em;
    background-color: var(--b2);
    border-radius: 0 .5em .5em .5em;
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    color:#efefef;
    font-size:13px;
    overflow: auto;
  }
  
  .mermaidpre {
    display: flex;
    justify-content: center;
  }
  
  table {
    width:100%;
    border-collapse:collapse;
  }
  
  th {
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid #434343;
    color: #b6b6b6;
    font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
  }
  
  td {
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid #434343;
  }
  
  hr {
    border: 0;
    outline: none;
    height: 3px;
    background: transparent url('../images/hr.gif') center center repeat-x;
    margin: 0 0 20px;
  }
  
  dt {
    color:#F0E7D5;
    font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
  }
  
  */